<!DOCTYPE html>
<html>

<body id="dashboard">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="index-guide">Welcome, <%= current_user.first_name %>!<br> Let's find something off the beaten path...</h1>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <form>
    <div class="row index-guides">
      <div class="col-md-6">
        <h2 class="index-guide origin">Origin:</h2>
        <div class="form-group">
          <label for="origin" class="origin">Address or City</label>
          <input type="text" class="form-control" id="origin-field" placeholder="Origin">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="index-guide">Destination:</h2>
        <div class="form-group">
          <label for="destination">Address or City</label>
          <input type="text" class="form-control" id="destination-field" placeholder="Destination">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg" id="route-submit">Submit</button>
    </div>
  </form>
</div> <!-- /container -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="index-guide" id="place-title"></h2>
    </div>
  </div>
</div>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

</body>
</html>
